{% extends "health/base.html" %} {% load static %} 
<!--templates/registration/login.html-->
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">

    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 text-center">

<form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <label class="sr-only" for="doctorid">
                        Doctor Name
                      </label>
                    
                    <div class="form-group col-12">
                        <div class="input-group">
                    <select id="exampleFormControlSelect1" class="form-select" name="doctorid">
                    <option value="">....</option>
                    {% for doctor in doctor %}
                    {%if doctor.category == "DOCTOR" %}
                    <option value={{doctor.user}}>{{doctor.full_name}} -- {{doctor.email}}</option>
                    {%endif%}
                    {%endfor%}
                  </select>
                        </div>
                    </div>
                  </div>
                  <!-- Input Group -->
                {{ form|crispy }}
    <button class="btn btn-block btn-primary">Send a Message </button>
</form>
{%endblock%}
</div>
</div>
</div>
</div>
</div>
